@use "sass:color";
@import url("page-transition-loading-animation.css");
@import url("skeleton.css");
@import url("normalize.css");

$color1: #222;
$color2: #5088db;
$color3: #a9d1ff;
$color4: #ccc;
$color5: #0f82ce;
$color6: #0f98ce;
$color7: #004464;

body {
  overflow-x: hidden;
}

input[type="email"]:disabled,
input[type="number"]:disabled,
input[type="search"]:disabled,
input[type="text"]:disabled,
input[type="tel"]:disabled,
input[type="url"]:disabled,
input[type="password"]:disabled,
textarea:disabled,
select:disabled {
  border: 1px solid #e9e9e9;
  color: #aaaaaa;
}

input[type="email"]:disabled::placeholder,
input[type="number"]:disabled::placeholder,
input[type="search"]:disabled::placeholder,
input[type="text"]:disabled::placeholder,
input[type="tel"]:disabled::placeholder,
input[type="url"]:disabled::placeholder,
input[type="password"]:disabled::placeholder,
textarea:disabled::placeholder,
select:disabled::placeholder {
  color: #dbdbdb;
}

.wave {
  position: absolute;
  bottom: -1px;
  width: 100%;
}

.parche1 {
  height: 2px;
  margin-top: -3px;
}

.parche2 {
  height: 3px;
  margin-bottom: -2px;
  width: 100%;
}

nav {
  display: none;
}

nav.border {
  background-color: $color3;
  border-bottom: $color1 1px solid;
}

// FORM

.container-form,
.container-form-smaller {
  position: absolute;
  display: grid;
  width: 80%;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 60%);
  border: solid $color4 1px;
  border-radius: 10px;
  padding: 20px;
  gap: 20px;
  h2 {
    text-align: center;
    margin: 0;
  }
  .inputs {
    display: grid;
    grid-template-columns: auto;
    gap: 5px;
    input {
      width: 100%;
    }
  }
}

// Administrate

.administrate-home {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: calc(100vh - 40px);
  align-items: center;
  justify-content: space-around;
  button {
    margin-left: 25%;
    width: 100%;
    height: 20%;
    border-radius: 20px;
    font-size: 20px;
  }
  button:nth-last-child(1) {
    color: white;
    background: $color1;
  }
}

// APP

.app {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  h5 {
    text-align: center;
    width: 100%;
  }
  .options {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    padding: 20px;
    button {
      margin-left: 5%;
      width: 90%;
    }
  }
  .seccion-siguiente {
    width: 90%;
    button {
      width: 100%;
    }
  }
}

// HEADER

header {
  width: 100%;
  height: 800px;
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(
      to right,
      hsla(217, 89%, 61%, 0.678),
      hsla(222, 11%, 24%, 0.637)
    ),
    url(../img/image2.jpg);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
      to right,
      hsla(217, 89%, 61%, 0.678),
      hsla(222, 11%, 24%, 0.637)
    ),
    url(../img/image2.jpg);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-size: cover;
  background-attachment: fixed;
  position: relative;

  .textos-header {
    display: flex;
    height: 650px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    a {
      text-decoration: none;
    }
    h1 {
      font-size: 50px;
      color: #fff;
    }

    .opciones-header {
      border-radius: 10px;
      overflow: hidden;
      h2,
      h3 {
        cursor: pointer;
        font-weight: 300;
        color: #fff;
        background: #ffffff44;
        padding: 5px;
        transition: color 0.3s ease, background-color 0.3s ease;
        width: 300px;
        margin: 0;
      }
      h2:hover,
      h3:hover {
        color: $color3;
        background-color: #ffffff33;
      }
      h2 {
        font-size: 30px;
      }
      h3 {
        font-size: 26px;
      }
    }
  }
}

.low-margin {
  p {
    padding: 0 !important;
    margin-bottom: 5px !important;
  }
  h3 {
    padding: 0 !important;
    margin-bottom: 5px !important;
  }
}

.align-left {
  text-align: left !important;
  justify-content: end !important;
}

.navbar-container {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

// MAIN

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  margin-bottom: 50px;
}

.titulo {
  color: $color5;
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}

.los-eso-brad {
  padding: 0;
  background: linear-gradient(to bottom, $color6, $color3);
  .titulo {
    color: $color1;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 0px;
  }
  h3,
  h5,
  p {
    margin: 0;
  }
  .integrantes {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 15%;
    gap: 40px;
  }
}

.team-card {
  display: flex;
  flex: 1;
  align-items: center;
  img {
    max-width: 30%;
    height: auto;
    clip-path: circle();
    flex: 1;
    width: 100%;
  }
  .text-section {
    flex: 1;
    width: fit-content;
    text-align: center;
    color: $color1;
    padding: 5px;
    border-bottom: $color1 2px solid;
    border-radius: 4px;
    h3 {
      font-size: 20px;
      font-weight: bold;
    }
    h5 {
      font-size: 17px;
    }
  }
}

.sobre-nosotros {
  display: flex;
  flex-direction: column;
  width: 80%;
  .titulo {
    margin-bottom: 20px;
  }
  .container-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
    .imagen-about-us {
      display: none;
    }
    .contenido-textos {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 90%;
      .objetivos {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        align-items: stretch;
        div {
          padding: 10px;
          h3 {
            font-size: 18px;
          }
        }
      }
      h3 {
        font-size: 23.5px;
        margin-bottom: 15px;
        span {
          background: $color2;
          color: #fff;
          border-radius: 50%;
          display: inline-block;
          text-align: center;
          width: 30px;
          height: 30px;
          padding: 3px;
          box-shadow: 0 0 6px 0 #00000080;
          margin-right: 5px;
        }
      }
      p {
        padding: 0px 0px 30px 15px;
        font-weight: 300;
        text-align: justify;
      }
    }
  }
  .link-nosotros {
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    padding: 0 10px;
    color: $color2;
    border: $color3 solid 2px;
    border-radius: 10px;
    transition: border-color 0.3s ease, color 0.3s ease;
    gap: 10px;
    text-align: center;
    h5 {
      font-weight: bold;
      font-size: 18px;
      margin: 0;
    }
    svg {
      display: none;
    }
  }
  .link-nosotros:hover {
    border-color: color.adjust($color3, $lightness: -10%);
    color: color.adjust($color2, $lightness: -10%);
  }
}

.clientes {
  display: flex;
  flex-direction: column;
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
  }
}

.card {
  background: linear-gradient(to left, $color2, $color5);
  display: flex;
  width: 80%;
  height: 200px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
  img,
  svg {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
    color: #fff;
  }
  .contenido-texto-card {
    width: 60%;
    color: #fff;
    p {
      font-weight: 300;
      padding-top: 5px;
    }
  }
}

.about-services {
  width: 100%;
  background-color: $color5;
  margin: 0 !important;
  padding: 0 !important;
  .titulo {
    margin-bottom: 20px;
    color: white;
  }
  .servicio-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .servicio-ind {
      width: 80%;
      text-align: center;
      color: white;
      img {
        width: 90%;
        height: 200px;
      }
      h3 {
        margin: 10px 0;
      }
      p {
        font-weight: 300;
        text-align: justify;
      }
    }
  }
}

// FOOTER

footer {
  background: $color1;
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
  .contenedor-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    flex-direction: column;
    border: none;
    .content-foo {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      h4 {
        color: white;
        border: none;
        padding-bottom: 5px;
        margin-bottom: 10px;
      }
      p {
        width: 140px;
        color: $color4;
        border-bottom: 1px solid white;
        padding-bottom: 20px;
      }
    }
  }
  .titulo-final {
    text-align: center;
    font-size: 20px;
    margin: 20px 0 0 0;
    color: $color4;
  }
}

// ME

.me-container,
.preguntas-container,
.crear-preguntas-container {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  h3 {
    margin: 0;
  }
  .formulario {
    border: $color4 solid 1px;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    form {
      .options {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
      }
    }
    div {
      .one-third {
        text-align: center;
        h5 {
          font-size: 18px;
          line-height: 36px;
          margin: 0;
        }
      }
      .two-thirds {
        text-align: center;
      }
      input,
      textarea {
        width: 85%;
      }
      margin-bottom: 5px;
    }
  }
}

.preguntas-container {
  .preguntas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .pregunta {
      display: flex;
      gap: 10px;
      svg {
        cursor: pointer;
      }
    }
  }
}

.me-container {
  .button-volver {
    width: 200px;
  }
}

// CELULARES
@media (min-width: 400px) {
  // Administrate

  .administrate-home {
    height: calc(100vh - 40px);
  }

  nav {
    background: none;
    display: block;
    .navbar-list {
      display: flex;
      list-style: none;
      margin-bottom: 0;
      .navbar-item {
        position: relative;
        margin-bottom: 0;
        .navbar-link {
          padding: 14.5px 20px 14.5px 20px;
          text-align: center;
          text-transform: uppercase;
          font-size: 11px;
          font-weight: 600;
          letter-spacing: 0.2rem;
          line-height: 40px;
          text-decoration: none;
          color: $color1;
        }
        .navbar-link::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          background-color: $color1;
          clip-path: polygon(
            0 0,
            100% 0,
            100% 5%,
            0 5%,
            0 95%,
            100% 95%,
            100% 100%,
            0 100%
          );
          transform: scaleX(0);
          transform-origin: bottom center;
          transition: transform 0.3s ease;
        }

        .navbar-link:hover::after {
          transform: scaleX(1);
          transform-origin: bottom center;
        }
        .navbar-link.active {
          color: $color3;
        }
      }
      .fill {
        background: $color1;
        a {
          color: $color3 !important;
        }
        a::after {
          background-color: $color3 !important;
        }
      }
    }
  }
  .opciones {
    flex: 1;
    justify-content: center;
  }
  .auth {
    display: none !important;
  }

  header {
    height: 700px;

    .textos-header {
      height: 550px;
    }
  }

  .los-eso-brad {
    .titulo {
      margin-top: 50px;
    }
  }
}

// CELULAR GRANDE
@media (min-width: 550px) {
  .container-form,
  .container-form-smaller {
    width: 510px;
  }

  // ME

  .me-container,
  .preguntas-container,
  .crear-preguntas-container {
    padding: 20px 100px;
    .formulario {
      div {
        .one-third {
          text-align: right;
        }
        .two-thirds {
          text-align: left;
        }
        input,
        textarea {
          width: 70%;
        }
      }
    }
  }
  // MAIN

  .sobre-nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    .container-sobre-nosotros {
      .contenido-textos {
        .objetivos {
          grid-template-columns: repeat(2, 1fr);
          div {
            padding: 10px;
            h3 {
              font-size: 15px;
            }
          }
        }
      }
    }
    .link-nosotros {
      svg {
        display: block;
      }
      h5 {
        font-size: 22px;
      }
    }
  }

  .los-eso-brad {
    .integrantes {
      width: 80%;
      margin-left: 10%;
    }
    .titulo {
      font-size: 50px;
    }
  }

  .team-card {
    .text-section {
      h3 {
        font-size: 32px;
      }
      h5 {
        font-size: 26px;
      }
    }
  }

  .clientes {
    .cards {
      flex-direction: row;
      gap: 0;
    }
  }

  .card {
    width: 46%;
  }

  .about-services {
    .servicio-cont {
      margin-left: 5%;
      flex-direction: row;
      width: 90%;
      .servicio-ind {
        width: 28%;
        img {
          border-bottom: white solid 3px;
        }
        h3 {
          font-size: 18px;
        }
      }
    }
  }

  // FOOTER

  footer {
    .contenedor-footer {
      flex-direction: row;
      border-bottom: 1px solid $color4;
      .content-foo {
        margin-bottom: 20px;
        text-align: center;
        h4 {
          border-bottom: 3px solid $color2;
        }
        p {
          border: none;
          padding: 0;
        }
      }
    }
    .titulo-final {
      font-size: 24px;
    }
  }
}

// PECE
@media (min-width: 965px) {
  // HEADER
  nav {
    .opciones {
      flex: 2;
    }
    .auth {
      display: flex !important;
      flex: 1;
    }
  }

  // FORMS

  .container-form {
    width: 965px;
    .inputs {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .container-form-smaller {
    width: 600px;
  }

  // ME y PREGUNTAS

  .me-container,
  .preguntas-container,
  .crear-preguntas-container {
    padding: 20px 200px;
  }

  // Administrate

  .administrate-home {
    flex-direction: row;
    width: 100%;
    button {
      margin-left: 0;
      width: 25%;
      height: 30%;
    }
  }

  // APP

  .app {
    .options {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 50px;
      width: 70%;
      button {
        width: 100%;
        margin: 0;
      }
    }
    .seccion-siguiente {
      width: 70%;
    }
  }

  // HEADER

  header {
    height: 600px;
    .textos-header {
      height: 450px;
    }
  }

  // MAIN

  .sobre-nosotros {
    .container-sobre-nosotros {
      .imagen-about-us {
        display: block;
        width: 38%;
      }
      .contenido-textos {
        width: 62%;
        .objetivos {
          div {
            h3 {
              font-size: 18px;
            }
          }
        }
      }
    }
    .link-nosotros {
      h5 {
        font-size: 26px;
      }
    }
  }

  .los-eso-brad {
    margin-bottom: 0 !important;
    .integrantes {
      flex-direction: row;
      width: 90%;
      margin-left: 5%;
    }
  }

  .team-card {
    flex-direction: column;
    img {
      max-width: 100%;
    }
    .text-section {
      width: 100%;
      border: none;
      h3 {
        font-size: 22px;
      }
      h5 {
        font-size: 18px;
      }
    }
  }

  .container {
    margin-bottom: 100px;
  }

  .card {
    height: 180px;
  }
}

@media (min-width: 1400px) {
  .sobre-nosotros {
    .container-sobre-nosotros {
      .contenido-textos {
        p {
          font-size: 18px;
        }
        .objetivos {
          div {
            h3 {
              font-size: 26px;
            }
          }
        }
      }
    }
  }
}
