@import url("page-transition-loading-animation.css");
@import url("skeleton.css");
@import url("normalize.css");
body {
  overflow-x: hidden;
}

input[type=email]:disabled,
input[type=number]:disabled,
input[type=search]:disabled,
input[type=text]:disabled,
input[type=tel]:disabled,
input[type=url]:disabled,
input[type=password]:disabled,
textarea:disabled,
select:disabled {
  border: 1px solid #e9e9e9;
  color: #aaaaaa;
}

input[type=email]:disabled::placeholder,
input[type=number]:disabled::placeholder,
input[type=search]:disabled::placeholder,
input[type=text]:disabled::placeholder,
input[type=tel]:disabled::placeholder,
input[type=url]:disabled::placeholder,
input[type=password]:disabled::placeholder,
textarea:disabled::placeholder,
select:disabled::placeholder {
  color: #dbdbdb;
}

@keyframes blink {
  0% {
    color: #222; /* Initial color */
  }
  50% {
    color: transparent; /* Make text disappear */
  }
  100% {
    color: #222; /* Back to the original color */
  }
}
.wave {
  position: absolute;
  bottom: -1px;
  width: 100%;
}

.blink {
  animation: blink 1s infinite;
}

.countdown {
  color: #222;
}

.parche1 {
  height: 2px;
  margin-top: -3px;
}

.parche2 {
  height: 3px;
  margin-bottom: -2px;
  width: 100%;
}

nav {
  display: none;
}

nav.border {
  background-color: #a9d1ff;
  border-bottom: #222 1px solid;
}

.container-form,
.container-form-smaller {
  position: absolute;
  display: grid;
  width: 80%;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 60%);
  border: solid #ccc 1px;
  border-radius: 10px;
  padding: 20px;
  gap: 20px;
}
.container-form h2,
.container-form-smaller h2 {
  text-align: center;
  margin: 0;
}
.container-form .inputs,
.container-form-smaller .inputs {
  display: grid;
  grid-template-columns: auto;
  gap: 5px;
}
.container-form .inputs input,
.container-form-smaller .inputs input {
  width: 100%;
}
.container-form .inputs .input-container,
.container-form-smaller .inputs .input-container {
  height: 38px;
  transition: height 0.3s ease;
}
.container-form .inputs .input-container p,
.container-form-smaller .inputs .input-container p {
  color: #ff7878;
}
.container-form .inputs .has-one-text,
.container-form-smaller .inputs .has-one-text {
  height: 62px;
}

.administrate-home {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: calc(100vh - 40px);
  align-items: center;
  justify-content: space-around;
}
.administrate-home button {
  margin-left: 25%;
  width: 100%;
  height: 20%;
  border-radius: 20px;
  font-size: 20px;
}
.administrate-home button:nth-last-child(1) {
  color: white;
  background: #222;
}

.app {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.app h5 {
  text-align: center;
  margin: 0;
  margin-top: 10px;
  width: 100%;
}
.app p {
  margin: 0;
}
.app .options {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  place-items: center;
  align-items: stretch;
  padding: 20px;
}
.app .options .option {
  height: auto;
  max-width: 90%;
  min-width: 90%;
  padding: 10px 20px;
  font-size: 16px;
  line-height: normal;
  white-space: normal;
  word-wrap: break-word;
  overflow: visible;
}
.app .options .active {
  color: #a9d1ff;
  background: #222;
}
.app .options .correct {
  background: #7aca8e;
}
.app .options .wrong {
  background: #eb9e9e;
}
.app .seccion-siguiente {
  width: 90%;
}
.app .seccion-siguiente button {
  width: 100%;
}

header {
  width: 100%;
  height: 800px;
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, hsla(217, 89%, 61%, 0.678), hsla(222, 11%, 24%, 0.637)), url(../img/image2.jpg);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, hsla(217, 89%, 61%, 0.678), hsla(222, 11%, 24%, 0.637)), url(../img/image2.jpg);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
header .textos-header {
  display: flex;
  height: 650px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
header .textos-header a {
  text-decoration: none;
}
header .textos-header h1 {
  font-size: 50px;
  color: #fff;
}
header .textos-header .opciones-header {
  border-radius: 10px;
  overflow: hidden;
}
header .textos-header .opciones-header h2,
header .textos-header .opciones-header h3 {
  cursor: pointer;
  font-weight: 300;
  color: #fff;
  background: rgba(255, 255, 255, 0.2666666667);
  padding: 5px;
  transition: color 0.3s ease, background-color 0.3s ease;
  width: 300px;
  margin: 0;
}
header .textos-header .opciones-header h2:hover,
header .textos-header .opciones-header h3:hover {
  color: #a9d1ff;
  background-color: rgba(255, 255, 255, 0.2);
}
header .textos-header .opciones-header h2 {
  font-size: 30px;
}
header .textos-header .opciones-header h3 {
  font-size: 26px;
}

.low-margin p {
  padding: 0 !important;
  margin-bottom: 5px !important;
}
.low-margin h3 {
  padding: 0 !important;
  margin-bottom: 5px !important;
}

.align-left {
  text-align: left !important;
  justify-content: end !important;
}

.navbar-container {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  margin-bottom: 50px;
}

.titulo {
  color: #0f82ce;
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}

.los-eso-brad {
  padding: 0;
  background: linear-gradient(to bottom, #0f98ce, #a9d1ff);
}
.los-eso-brad .titulo {
  color: #222;
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 0px;
}
.los-eso-brad h3,
.los-eso-brad h5,
.los-eso-brad p {
  margin: 0;
}
.los-eso-brad .integrantes {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 15%;
  gap: 40px;
}

.team-card {
  display: flex;
  flex: 1;
  align-items: center;
}
.team-card img {
  max-width: 30%;
  height: auto;
  clip-path: circle();
  flex: 1;
  width: 100%;
}
.team-card .text-section {
  flex: 1;
  width: fit-content;
  text-align: center;
  color: #222;
  padding: 5px;
  border-bottom: #222 2px solid;
  border-radius: 4px;
}
.team-card .text-section h3 {
  font-size: 20px;
  font-weight: bold;
}
.team-card .text-section h5 {
  font-size: 17px;
}

.sobre-nosotros {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.sobre-nosotros .titulo {
  margin-bottom: 20px;
}
.sobre-nosotros .container-sobre-nosotros {
  display: flex;
  justify-content: space-evenly;
}
.sobre-nosotros .container-sobre-nosotros .imagen-about-us {
  display: none;
}
.sobre-nosotros .container-sobre-nosotros .contenido-textos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}
.sobre-nosotros .container-sobre-nosotros .contenido-textos .objetivos {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  align-items: stretch;
}
.sobre-nosotros .container-sobre-nosotros .contenido-textos .objetivos div {
  padding: 10px;
}
.sobre-nosotros .container-sobre-nosotros .contenido-textos .objetivos div h3 {
  font-size: 18px;
}
.sobre-nosotros .container-sobre-nosotros .contenido-textos h3 {
  font-size: 23.5px;
  margin-bottom: 15px;
}
.sobre-nosotros .container-sobre-nosotros .contenido-textos h3 span {
  background: #5088db;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  padding: 3px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5019607843);
  margin-right: 5px;
}
.sobre-nosotros .container-sobre-nosotros .contenido-textos p {
  padding: 0px 0px 30px 15px;
  font-weight: 300;
  text-align: justify;
}
.sobre-nosotros .link-nosotros {
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  padding: 0 10px;
  color: #5088db;
  border: #a9d1ff solid 2px;
  border-radius: 10px;
  transition: border-color 0.3s ease, color 0.3s ease;
  gap: 10px;
  text-align: center;
}
.sobre-nosotros .link-nosotros h5 {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
}
.sobre-nosotros .link-nosotros svg {
  display: none;
}
.sobre-nosotros .link-nosotros:hover {
  border-color: rgb(118, 181.7209302326, 255);
  color: rgb(42.3127962085, 108.1327014218, 205.6872037915);
}

.clientes {
  display: flex;
  flex-direction: column;
}
.clientes .cards {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}

.card {
  background: linear-gradient(to left, #5088db, #0f82ce);
  display: flex;
  width: 80%;
  height: 200px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}
.card img,
.card svg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 3px solid #fff;
  border-radius: 50%;
  display: block;
  color: #fff;
}
.card .contenido-texto-card {
  width: 60%;
  color: #fff;
}
.card .contenido-texto-card p {
  font-weight: 300;
  padding-top: 5px;
}

.about-services {
  width: 100%;
  background-color: #0f82ce;
  margin: 0 !important;
  padding: 0 !important;
}
.about-services .titulo {
  margin-bottom: 20px;
  color: white;
}
.about-services .servicio-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.about-services .servicio-cont .servicio-ind {
  width: 80%;
  text-align: center;
  color: white;
}
.about-services .servicio-cont .servicio-ind img {
  width: 90%;
  height: 200px;
}
.about-services .servicio-cont .servicio-ind h3 {
  margin: 10px 0;
}
.about-services .servicio-cont .servicio-ind p {
  font-weight: 300;
  text-align: justify;
}

footer {
  background: #222;
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
}
footer .contenedor-footer {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  flex-direction: column;
  border: none;
}
footer .contenedor-footer .content-foo {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
footer .contenedor-footer .content-foo h4 {
  color: white;
  border: none;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
footer .contenedor-footer .content-foo p {
  width: 140px;
  color: #ccc;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}
footer .titulo-final {
  text-align: center;
  font-size: 20px;
  margin: 20px 0 0 0;
  color: #ccc;
}

.me-container,
.preguntas-container,
.crear-preguntas-container {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.me-container h3,
.preguntas-container h3,
.crear-preguntas-container h3 {
  margin: 0;
}
.me-container .formulario,
.preguntas-container .formulario,
.crear-preguntas-container .formulario {
  border: #ccc solid 1px;
  border-radius: 20px;
  padding: 20px;
  width: 100%;
}
.me-container .formulario form .options,
.preguntas-container .formulario form .options,
.crear-preguntas-container .formulario form .options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.me-container .formulario div,
.preguntas-container .formulario div,
.crear-preguntas-container .formulario div {
  margin-bottom: 5px;
}
.me-container .formulario div .one-third,
.preguntas-container .formulario div .one-third,
.crear-preguntas-container .formulario div .one-third {
  text-align: center;
}
.me-container .formulario div .one-third h5,
.preguntas-container .formulario div .one-third h5,
.crear-preguntas-container .formulario div .one-third h5 {
  font-size: 18px;
  line-height: 36px;
  margin: 0;
}
.me-container .formulario div .two-thirds,
.preguntas-container .formulario div .two-thirds,
.crear-preguntas-container .formulario div .two-thirds {
  text-align: center;
}
.me-container .formulario div .two-thirds .input-container,
.preguntas-container .formulario div .two-thirds .input-container,
.crear-preguntas-container .formulario div .two-thirds .input-container {
  height: 38px;
  transition: height 0.3s ease;
}
.me-container .formulario div .two-thirds .input-container p,
.preguntas-container .formulario div .two-thirds .input-container p,
.crear-preguntas-container .formulario div .two-thirds .input-container p {
  color: #ff7878;
}
.me-container .formulario div .two-thirds .has-one-text,
.preguntas-container .formulario div .two-thirds .has-one-text,
.crear-preguntas-container .formulario div .two-thirds .has-one-text {
  height: 62px;
}
.me-container .formulario div input,
.me-container .formulario div textarea,
.preguntas-container .formulario div input,
.preguntas-container .formulario div textarea,
.crear-preguntas-container .formulario div input,
.crear-preguntas-container .formulario div textarea {
  width: 85%;
}

.preguntas-container .preguntas {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.preguntas-container .preguntas .pregunta {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 5px;
}
.preguntas-container .preguntas .pregunta p {
  width: calc(100% - 40px);
  margin: 0;
}
.preguntas-container .preguntas .pregunta svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.me-container .button-volver {
  width: 200px;
}

@media (min-width: 400px) {
  .administrate-home {
    height: calc(100vh - 40px);
  }
  .app {
    height: calc(100% - 40px);
  }
  nav {
    background: none;
    display: block;
  }
  nav .navbar-list {
    display: flex;
    list-style: none;
    margin-bottom: 0;
  }
  nav .navbar-list .navbar-item {
    position: relative;
    margin-bottom: 0;
  }
  nav .navbar-list .navbar-item .navbar-link {
    padding: 14.5px 20px 14.5px 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.2rem;
    line-height: 40px;
    text-decoration: none;
    color: #222;
  }
  nav .navbar-list .navbar-item .navbar-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    clip-path: polygon(0 0, 100% 0, 100% 5%, 0 5%, 0 95%, 100% 95%, 100% 100%, 0 100%);
    transform: scaleX(0);
    transform-origin: bottom center;
    transition: transform 0.3s ease;
  }
  nav .navbar-list .navbar-item .navbar-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
  }
  nav .navbar-list .navbar-item .navbar-link.active {
    color: #a9d1ff;
  }
  nav .navbar-list .fill {
    background: #222;
  }
  nav .navbar-list .fill a {
    color: #a9d1ff !important;
  }
  nav .navbar-list .fill a::after {
    background-color: #a9d1ff !important;
  }
  .opciones {
    flex: 1;
    justify-content: center;
  }
  .auth {
    display: none !important;
  }
  header {
    height: 700px;
  }
  header .textos-header {
    height: 550px;
  }
  .los-eso-brad .titulo {
    margin-top: 50px;
  }
}
@media (min-width: 550px) {
  .container-form,
  .container-form-smaller {
    width: 510px;
  }
  .me-container,
  .preguntas-container,
  .crear-preguntas-container {
    padding: 20px 100px;
  }
  .me-container .formulario div .one-third,
  .preguntas-container .formulario div .one-third,
  .crear-preguntas-container .formulario div .one-third {
    text-align: right;
  }
  .me-container .formulario div .two-thirds,
  .preguntas-container .formulario div .two-thirds,
  .crear-preguntas-container .formulario div .two-thirds {
    text-align: left;
  }
  .me-container .formulario div input,
  .me-container .formulario div textarea,
  .preguntas-container .formulario div input,
  .preguntas-container .formulario div textarea,
  .crear-preguntas-container .formulario div input,
  .crear-preguntas-container .formulario div textarea {
    width: 70%;
  }
  .sobre-nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sobre-nosotros .container-sobre-nosotros .contenido-textos .objetivos {
    grid-template-columns: repeat(2, 1fr);
  }
  .sobre-nosotros .container-sobre-nosotros .contenido-textos .objetivos div {
    padding: 10px;
  }
  .sobre-nosotros .container-sobre-nosotros .contenido-textos .objetivos div h3 {
    font-size: 15px;
  }
  .sobre-nosotros .link-nosotros svg {
    display: block;
  }
  .sobre-nosotros .link-nosotros h5 {
    font-size: 22px;
  }
  .los-eso-brad .integrantes {
    width: 80%;
    margin-left: 10%;
  }
  .los-eso-brad .titulo {
    font-size: 50px;
  }
  .team-card .text-section h3 {
    font-size: 32px;
  }
  .team-card .text-section h5 {
    font-size: 26px;
  }
  .clientes .cards {
    flex-direction: row;
    gap: 0;
  }
  .card {
    width: 46%;
  }
  .about-services .servicio-cont {
    margin-left: 5%;
    flex-direction: row;
    width: 90%;
  }
  .about-services .servicio-cont .servicio-ind {
    width: 28%;
  }
  .about-services .servicio-cont .servicio-ind img {
    border-bottom: white solid 3px;
  }
  .about-services .servicio-cont .servicio-ind h3 {
    font-size: 18px;
  }
  footer .contenedor-footer {
    flex-direction: row;
    border-bottom: 1px solid #ccc;
  }
  footer .contenedor-footer .content-foo {
    margin-bottom: 20px;
    text-align: center;
  }
  footer .contenedor-footer .content-foo h4 {
    border-bottom: 3px solid #5088db;
  }
  footer .contenedor-footer .content-foo p {
    border: none;
    padding: 0;
  }
  footer .titulo-final {
    font-size: 24px;
  }
}
@media (min-width: 965px) {
  nav .opciones {
    flex: 2;
  }
  nav .auth {
    display: flex !important;
    flex: 1;
  }
  .container-form {
    width: 965px;
  }
  .container-form .inputs {
    grid-template-columns: repeat(2, 1fr);
  }
  .container-form-smaller {
    width: 600px;
  }
  .me-container,
  .preguntas-container,
  .crear-preguntas-container {
    padding: 20px 200px;
  }
  .administrate-home {
    flex-direction: row;
    width: 100%;
  }
  .administrate-home button {
    margin-left: 0;
    width: 25%;
    height: 30%;
  }
  .app .options {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
    width: 70%;
  }
  .app .options button {
    width: 100%;
    margin: 0;
  }
  .app .seccion-siguiente {
    width: 70%;
  }
  header {
    height: 600px;
  }
  header .textos-header {
    height: 450px;
  }
  .sobre-nosotros .container-sobre-nosotros .imagen-about-us {
    display: block;
    width: 38%;
  }
  .sobre-nosotros .container-sobre-nosotros .contenido-textos {
    width: 62%;
  }
  .sobre-nosotros .container-sobre-nosotros .contenido-textos .objetivos div h3 {
    font-size: 18px;
  }
  .sobre-nosotros .link-nosotros h5 {
    font-size: 26px;
  }
  .los-eso-brad {
    margin-bottom: 0 !important;
  }
  .los-eso-brad .integrantes {
    flex-direction: row;
    width: 90%;
    margin-left: 5%;
  }
  .team-card {
    flex-direction: column;
  }
  .team-card img {
    max-width: 100%;
  }
  .team-card .text-section {
    width: 100%;
    border: none;
  }
  .team-card .text-section h3 {
    font-size: 22px;
  }
  .team-card .text-section h5 {
    font-size: 18px;
  }
  .container {
    margin-bottom: 100px;
  }
  .card {
    height: 180px;
  }
}
@media (min-width: 1400px) {
  .sobre-nosotros .container-sobre-nosotros .contenido-textos p {
    font-size: 18px;
  }
  .sobre-nosotros .container-sobre-nosotros .contenido-textos .objetivos div h3 {
    font-size: 26px;
  }
}

/*# sourceMappingURL=index.css.map */
