@import url("page-transition-loading-animation.css");
@import url("skeleton.css");
@import url("normalize.css");
body {
  overflow-x: hidden;
}

.wave {
  position: absolute;
  bottom: -1px;
  width: 100%;
}

.parche1 {
  height: 2px;
  margin-top: -3px;
}

.parche2 {
  height: 3px;
  margin-bottom: -2px;
  width: 100%;
}

nav {
  display: none;
}

nav.border {
  background-color: #a9d1ff;
  border-bottom: #222 1px solid;
}

.container-form {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 80%;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 60%);
  border: solid #ccc 1px;
  border-radius: 10px;
  padding: 20px;
  gap: 20px;
}
.container-form input {
  width: 100%;
}

.app {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.app h5 {
  width: 90%;
}
.app .options {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  padding: 20px;
}
.app .options button {
  margin-left: 5%;
  width: 90%;
}
.app .seccion-siguiente {
  width: 90%;
}
.app .seccion-siguiente button {
  width: 100%;
}

header {
  width: 100%;
  height: 800px;
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, hsla(217, 89%, 61%, 0.678), hsla(222, 11%, 24%, 0.637)), url(../img/image2.jpg);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, hsla(217, 89%, 61%, 0.678), hsla(222, 11%, 24%, 0.637)), url(../img/image2.jpg);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
header .textos-header {
  display: flex;
  height: 650px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
header .textos-header a {
  text-decoration: none;
}
header .textos-header h1 {
  font-size: 50px;
  color: #fff;
}
header .textos-header h2,
header .textos-header h3 {
  cursor: pointer;
  font-weight: 300;
  color: #fff;
  background: rgba(255, 255, 255, 0.2666666667);
  border-radius: 10px;
  padding: 5px;
  transition: color 0.3s ease, background-color 0.3s ease;
  width: 300px;
}
header .textos-header h2:hover,
header .textos-header h3:hover {
  color: #a9d1ff;
  background-color: rgba(255, 255, 255, 0.2);
}
header .textos-header h2 {
  font-size: 30px;
}
header .textos-header h3 {
  font-size: 26px;
}

.low-margin p {
  padding: 0 !important;
  margin-bottom: 5px !important;
}
.low-margin h3 {
  padding: 0 !important;
  margin-bottom: 5px !important;
}

.align-left {
  justify-content: end !important;
}

.navbar-container {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  margin-bottom: 50px;
}

.titulo {
  color: #0f82ce;
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}

.los-eso-brad {
  padding: 0;
  background: linear-gradient(to bottom, #0f98ce, #a9d1ff);
}
.los-eso-brad .titulo {
  color: #222;
  font-size: 40px;
  margin: 0;
}
.los-eso-brad h3,
.los-eso-brad h5,
.los-eso-brad p {
  margin: 0;
}
.los-eso-brad .scrum-product,
.los-eso-brad .back-end,
.los-eso-brad .front-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.los-eso-brad .scrum-product .team-card,
.los-eso-brad .back-end .team-card,
.los-eso-brad .front-end .team-card {
  width: 350px;
}

.team-card {
  display: flex;
  align-items: center;
  height: 210px;
}
.team-card img {
  width: 210px;
  height: 210px;
}
.team-card .text-section {
  position: relative;
  width: fit-content;
  color: #222;
  padding: 5px;
}
.team-card .text-section h3 {
  font-size: 20px;
}
.team-card .text-section h5 {
  font-size: 17px;
}

.sobre-nosotros {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.sobre-nosotros .titulo {
  margin-bottom: 20px;
}
.sobre-nosotros .container-sobre-nosotros {
  display: flex;
  justify-content: space-evenly;
}
.sobre-nosotros .container-sobre-nosotros .imagen-about-us {
  display: none;
}
.sobre-nosotros .container-sobre-nosotros .contenido-textos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}
.sobre-nosotros .container-sobre-nosotros .contenido-textos .objetivos {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  align-items: stretch;
}
.sobre-nosotros .container-sobre-nosotros .contenido-textos .objetivos div {
  padding: 10px;
}
.sobre-nosotros .container-sobre-nosotros .contenido-textos .objetivos div h3 {
  font-size: 18px;
}
.sobre-nosotros .container-sobre-nosotros .contenido-textos h3 {
  font-size: 23.5px;
  margin-bottom: 15px;
}
.sobre-nosotros .container-sobre-nosotros .contenido-textos h3 span {
  background: #5088db;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  padding: 3px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  margin-right: 5px;
}
.sobre-nosotros .container-sobre-nosotros .contenido-textos p {
  padding: 0px 0px 30px 15px;
  font-weight: 300;
  text-align: justify;
}

.clientes {
  display: flex;
  flex-direction: column;
}
.clientes .cards {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}

.card {
  background: linear-gradient(to left, #5088db, #0f82ce);
  display: flex;
  width: 80%;
  height: 200px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}
.card img,
.card svg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 3px solid #fff;
  border-radius: 50%;
  display: block;
  color: #fff;
}
.card .contenido-texto-card {
  width: 60%;
  color: #fff;
}
.card .contenido-texto-card p {
  font-weight: 300;
  padding-top: 5px;
}

.about-services {
  width: 100%;
  background-color: #0f82ce;
  margin: 0 !important;
  padding: 0 !important;
}
.about-services .titulo {
  margin-bottom: 20px;
  color: white;
}
.about-services .servicio-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.about-services .servicio-cont .servicio-ind {
  width: 80%;
  text-align: center;
  color: white;
}
.about-services .servicio-cont .servicio-ind img {
  width: 90%;
  height: 200px;
}
.about-services .servicio-cont .servicio-ind h3 {
  margin: 10px 0;
}
.about-services .servicio-cont .servicio-ind p {
  font-weight: 300;
  text-align: justify;
}

footer {
  background: #222;
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
}
footer .contenedor-footer {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  flex-direction: column;
  border: none;
}
footer .contenedor-footer .content-foo {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
footer .contenedor-footer .content-foo h4 {
  color: white;
  border: none;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
footer .contenedor-footer .content-foo p {
  width: 140px;
  color: #ccc;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}
footer .titulo-final {
  text-align: center;
  font-size: 20px;
  margin: 20px 0 0 0;
  color: #ccc;
}

@media (min-width: 400px) {
  nav {
    background: none;
    display: block;
  }
  nav .navbar-list {
    display: flex;
    list-style: none;
    margin-bottom: 0;
  }
  nav .navbar-list .navbar-item {
    position: relative;
    margin-bottom: 0;
  }
  nav .navbar-list .navbar-item .navbar-link {
    padding: 14.5px 20px 14.5px 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.2rem;
    line-height: 40px;
    text-decoration: none;
    color: #222;
  }
  nav .navbar-list .navbar-item .navbar-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    clip-path: polygon(0 0, 100% 0, 100% 5%, 0 5%, 0 95%, 100% 95%, 100% 100%, 0 100%);
    transform: scaleX(0);
    transform-origin: bottom center;
    transition: transform 0.3s ease;
  }
  nav .navbar-list .navbar-item .navbar-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
  }
  nav .navbar-list .navbar-item .navbar-link.active {
    color: #a9d1ff;
  }
  nav .navbar-list .fill {
    background: #222;
  }
  nav .navbar-list .fill a {
    color: #a9d1ff !important;
  }
  nav .navbar-list .fill a::after {
    background-color: #a9d1ff !important;
  }
  .opciones {
    flex: 1;
    justify-content: center;
  }
  .auth {
    display: none !important;
  }
  header {
    height: 700px;
  }
  header .textos-header {
    height: 550px;
  }
  .los-eso-brad .titulo {
    margin-top: 50px;
  }
}
@media (min-width: 550px) {
  .container-form {
    width: 510px;
  }
  .sobre-nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sobre-nosotros .container-sobre-nosotros .contenido-textos .objetivos {
    grid-template-columns: repeat(2, 1fr);
  }
  .sobre-nosotros .container-sobre-nosotros .contenido-textos .objetivos div {
    padding: 10px;
  }
  .sobre-nosotros .container-sobre-nosotros .contenido-textos .objetivos div h3 {
    font-size: 15px;
  }
  .los-eso-brad .titulo {
    font-size: 50px;
  }
  .los-eso-brad .scrum-product .team-card,
  .los-eso-brad .front-end .team-card,
  .los-eso-brad .back-end .team-card {
    width: 400px;
  }
  .team-card {
    height: 220px;
  }
  .team-card img {
    width: 220px;
    height: 220px;
  }
  .team-card .text-section h3 {
    font-size: 20px;
  }
  .team-card .text-section h5 {
    font-size: 17px;
  }
  .clientes .cards {
    flex-direction: row;
    gap: 0;
  }
  .card {
    width: 46%;
  }
  .about-services .servicio-cont {
    margin-left: 5%;
    flex-direction: row;
    width: 90%;
  }
  .about-services .servicio-cont .servicio-ind {
    width: 28%;
  }
  .about-services .servicio-cont .servicio-ind img {
    border-bottom: white solid 3px;
  }
  .about-services .servicio-cont .servicio-ind h3 {
    font-size: 18px;
  }
  footer .contenedor-footer {
    flex-direction: row;
    border-bottom: 1px solid #ccc;
  }
  footer .contenedor-footer .content-foo {
    margin-bottom: 20px;
    text-align: center;
  }
  footer .contenedor-footer .content-foo h4 {
    border-bottom: 3px solid #5088db;
  }
  footer .contenedor-footer .content-foo p {
    border: none;
    padding: 0;
  }
  footer .titulo-final {
    font-size: 24px;
  }
}
@media (min-width: 965px) {
  nav .opciones {
    flex: 2;
  }
  nav .auth {
    display: flex !important;
    flex: 1;
  }
  .app .options {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
    width: 70%;
  }
  .app .options button {
    width: 100%;
    margin: 0;
  }
  .app .seccion-siguiente {
    width: 70%;
  }
  header {
    height: 600px;
  }
  header .textos-header {
    height: 450px;
  }
  .sobre-nosotros .container-sobre-nosotros .imagen-about-us {
    display: block;
    width: 38%;
  }
  .sobre-nosotros .container-sobre-nosotros .contenido-textos {
    width: 62%;
  }
  .sobre-nosotros .container-sobre-nosotros .contenido-textos .objetivos div h3 {
    font-size: 18px;
  }
  .los-eso-brad .scrum-product,
  .los-eso-brad .back-end {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .los-eso-brad .scrum-product .team-card,
  .los-eso-brad .back-end .team-card {
    width: 50%;
  }
  .los-eso-brad .front-end {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .los-eso-brad .front-end .team-card {
    width: 300px;
  }
  .los-eso-brad .back-end {
    margin-bottom: 100px;
  }
  .team-card {
    display: block;
    height: 300px;
  }
  .team-card img {
    width: 400px;
    height: 400px;
  }
  .team-card .text-section {
    position: relative;
    height: 80px;
    width: fit-content;
    top: -258px;
    border: #004464 solid 1px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.6666666667);
    color: #004464;
  }
  .team-card .text-section h3 {
    font-size: 32px;
  }
  .team-card .text-section h5 {
    font-size: 28px;
  }
  .left img {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  .left div {
    left: 260px;
  }
  .right img {
    position: absolute;
    right: 0;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  .right div {
    top: 149px !important;
    left: 100%;
    transform: translateX(-440px);
  }
  .center img {
    transform: translateX(-50px);
    border-radius: 50px;
  }
  .center div {
    position: absolute;
    right: 100%;
    transform: translateX(540px);
  }
  .container {
    margin-bottom: 100px;
  }
  .card {
    height: 180px;
  }
}
@media (min-width: 1400px) {
  .sobre-nosotros .container-sobre-nosotros .contenido-textos p {
    font-size: 18px;
  }
  .sobre-nosotros .container-sobre-nosotros .contenido-textos .objetivos div h3 {
    font-size: 26px;
  }
}

/*# sourceMappingURL=index.css.map */
